
# HTID:18555456: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
<IfModule mod_php.c>

php_value upload_max_filesize 64M
php_value post_max_size 64M
php_value max_execution_time 300
php_value max_input_time 300

php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18555456:
php_value output_buffering on

</IfModule>
php_flag output_buffering on
